body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background: rgba(0, 0, 0, 0);
}


.search-icon{
    color: black;
}

nav{
    color: #fff;
    z-index: 98;
    position: relative;
}

nav a, header a{
    color: #fff;
    text-decoration:none;
}

nav.container{
    max-width: 11150px;
    padding: 1em 2em;
    margin: 0 auto;
}

nav .container > div{
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}

nav .menu, 
nav form, 
.footer, 
.footer .watch{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

nav ul li{
    display: inline-block;
    margin: 0 0.5em;
}

nav ul a{
    font-size: 0.8em;
    text-transform: uppercase;
}

nav form{
    margin-right: 2em;
}

nav form input{
    background: transparent;
    color: #fff;
    width: 12em;
    padding: 0.5em 1em;
    border: none;
    outline: none;
}

nav form input::placeholder{
    color: #fff;
}

.logo{
    width: 200px;
    display: inline-block;
    
}

.nav-btn{
    background: rgba(0, 0, 0, 0.3);
    color: rgb(22, 21, 21);
    width: 2.8em;
    height: 2.8em;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;
    position: relative;
}

.nav-btn:hover {
    background: rgba(255, 255, 255, 0.6);
}

nav .container .menu-btn{
    display: none;
}

header{
    height: 100vh;
    background: #090909;
    position: relative;
    overflow: hidden;
    color: #fff;
}

header::before{
    content: '';
    position: absolute;
    top: 0;
    right: -55em;
    background: linear-gradient(45deg ,#dadbd8 ,#c3c5c0);
    width: 100%;
    height: 120%;
    transform: rotate(70deg);
    z-index: 0;
}

header::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.2);
    font-size: 17em;
    font-weight: 700;
    z-index: 0;
}

.body{
    display: grid;
    justify-content: space-around;
    align-content: center;
    grid-template-columns: 2fr 3fr;
    grid-gap: 2em;
    height: 75%;
    position: relative;
    z-index: 1;
    max-width: 1500px;
    margin: 0 ;
    padding: 0 3em;
}

.body h1{
    font-size: 3.5em;
    margin: 0.5em, 0;
}

.body h4{
    font-size: 1.5em;
    margin: 0.5em, 0;
}

.body p{
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 0.9em;
    margin: 2em 0 3em 0;
    max-width: 45em;
}

.btn{
    padding: 0.7em 1.5em;
    background: #a3be52;
    border-radius: 3em;
    letter-spacing: 1px;
    font-size: 1em;
    transition: 0.3s;
}

.btn:hover{
    background: #6e9623;
}

.body > div:nth-child(2){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.body .fa{
    color: #fcc204;
}

.body img{
    width: 50em;
    transform: rotate(-25deg);
    filter: drop-shadow(30px 45px 40px #161616);
}

.body .logo2{
    width: 1000px;
    margin-bottom: 200px;
}

.footer{
    max-width: 1300px;
    margin: 0 0;
    padding: 0 3em;
    position: relative;
}

.footer a {
    margin: 0 0.7em;
    font-size: 1.2em;
}